%h1.current-category
  = params[:category]
- if @books.count == 0
  %h1 There are no books currently in this category
-else
  -@books.each do |book|
    =link_to (image_tag book.book_img.url(:medium), class:"book"), "/books/#{book.id}"
= link_to "Add Book", new_book_path, class: "btn-custom2"
= @code